body {
	background-color: maroon;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

@font-face {
	font-family: titleFont;
	src: url("./fonts/LeagueGothic-Regular.otf");
}

h1 {
	font-size: 85pt;
	line-height: 150px;
	text-align: center;
	color: white;
	letter-spacing: 8px;
}

li {

}

.item {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#how-it-works {
	margin-top: 100px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: left;
}

.list-group-item {
	padding: 40px;
	font-size: 15pt;
}

#list-item:hover {
	background-color: #eb9605;
	cursor: pointer;
}

#list-group-title {
	font-size: 20pt;
	text-align: left;
	font-weight: bolder;
	cursor: pointer;
}

#map {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
	width: 100%;
}

.header-logo {
	width: 447px;
	height:285px;
	padding: 20px;
}

#indicator-location {
	margin-top: 20px;
}

.header {}

#submit {}